{% extends 'section.html' %}

{% load i18n %}

{% block title %}News{% endblock %}

{% block inside_content %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">

        <div class="news-date text-center text-uppercase">{{ news.date }}</div>
        <h2 class="news-title text-uppercase text-center">{{ news.title }}</h2>

        {{ news.content|safe }}

        <p>&nbsp;</p>

        <p class="go-to-link text-center"><a href="{% url 'news_index' %}">{% trans 'Torna alle news' %}</a></p>
    </div>
</div>

{% endblock %}
