{% extends 'section.html' %}

{% load i18n %}

{% block title %}News{% endblock %}

{% block inside_content %}

<div class="row news-row">

    {% for new in news %}

    <article class="col-sm-6 news wow fadeInUp">
        <p class="news-date text-uppercase">{{ new.date }}</p>
        <h1 class="text-uppercase">{{ new.title }}</h1>
        <p>{{ new.abstract }}</p>
        <a class="go-to-link" href="{{ new.get_absolute_url }}"><span class="icon-arrow-right"></span> &nbsp; {% trans 'Leggi tutto' %}</a>
    </article>

    {% if forloop.counter|divisibleby:'2' %}
        </div><div class="row news-row">
    {% endif %}

    {% endfor %}

</div>

<div class="text-center paginator">
    <p class="hidden"><span class="active">1</span> &nbsp; 2 &nbsp; 3 &nbsp; <span class="icon-arrow-right"></span></p>
</div>

{% endblock %}
