@font-face {
  font-family: 'customicons';
  src: url('/static/fonts/customicons.eot'); /* IE9 Compat Modes */
  src: url('/static/fonts/customicons.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/customicons.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/customicons.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/customicons.svg#dd2b66dc67fe7b94b52163087de52572') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

.custom-icon {
  font-family: 'customicons';

  &.big {
    font-size: 140px;
    line-height: 120px;
    transition: .2s ease-in-out;
  }
}

