body {
    overflow-x: none;
    -ms-overflow-style: scrollbar; // fix for overlapping scrollbar
}

.text-white {
    color: white;

    a {
        color: white;
    }
}

.text-blue {
    color: @blue;
}

.serif {
    font-family: @font-family-serif;
}

.sans {
    font-family: @font-family-sans-serif;
}

p {
  margin: 0 0 26px;

  &:hover .em {
    color: @blue;
  }
}

.panel p {
    margin: 0 0 20px;
}

.home-landing p:hover .em {
    color: @blue-light;
}

.em {
    color: @blue-light;
    .sans();
    transition: .2s linear;
}

.btn {
    .sans();
}

h1, h2 {
    font-weight: bold;
}

.v-align {
    display: flex;
    align-items: center;
}

.section-logo {
    img {
        margin-top: 20px
    }
}

a:hover, a:active, a:focus {
    outline: 0;
}

blockquote {
    border: 0;
    padding: 0;

    p {
        font-size: 38px;
        text-align: center;
        font-style: italic;

        span {
            background-image: url('/static/images/quoteopen.png'), url('/static/images/quoteclose.png');
            background-position: top left, bottom right;
            background-repeat: no-repeat;
            padding: 15px 30px;
        }
    }

    footer {
        .serif();
        text-align: right;
        color: @blue;
        padding-right: 150px;

        &::before {
            content: '';
        }
    }
}

.go-to-link {
    .text-uppercase();
    .sans();
    font-size: 14px;
    color: @text-color;
    letter-spacing: 2px;
    transition: .2s ease-in-out;

    &:hover {
        background-color: @blue-darker;
        color: white;
        padding: 5px 8px;
    }
}

.uc-list {
    .text-uppercase();
    .sans();
    font-size: 14px;
    color: @text-color;
    margin: 0 0 26px;

    li {
        margin-bottom: 22px;
        letter-spacing: 2px;
    }
}

.business-logo {
    max-height: 90px;
    width: auto;

    &.small {
        max-width: 120px;
        height: auto;
    }
}

.popover {
    font-size: 14px;
    padding: 0;
    border: 0;
    max-width: 400px;
}

.popover-title {
    .text-center();
    padding: 20px 0;
    background-color: @blue;
    color: @blue-light;
}

.popover-content {
    .sans();
    padding: 20px 40px;
    letter-spacing: 2px;
}
