@icon-font-path: "/static/fonts/";

@blue: #033366;
@blue-light: #00EAFF;
@blue-darker: #082c51;
@gray-text: #4A4A4A;

@brand-primary: @blue;

@font-size-base: 18px;
@text-color: @gray-text;

@link-hover-decoration: none;

@font-family-sans-serif:  'effra', sans-serif;
@font-family-serif:       'ff-tisa-web-pro', serif;
@font-family-base:        @font-family-serif;
@headings-font-family:    @font-family-sans-serif;
