.footer {
    .sans();
    position: relative;
    padding: 100px 0;
    background-color: @blue;
    font-size: 14px;
    z-index: 99;
    ul {
        li {
            margin-bottom: 40px;
            letter-spacing: 3px;

            a {
                padding-bottom: 8px;
                padding-right: 20px;
                border-bottom: 1px solid white;

                &:hover {
                    border-bottom: 1px solid @blue-light;
                }
            }
        }
    }
}
