.gallery {

    .slick-prev, .slick-next {
        display: block;
        position: absolute;
        width: 29px;
        height: 53px;
        top: 50%;
        margin-top: -54px;
    }

    .slick-prev {
        left: -65px;
        background: url('/static/images/arrow-left.png');
    }

    .slick-next {
        right: -65px;
        background: url('/static/images/arrow-right.png');
    }

    .name {
        .sans();
        .text-uppercase();
        letter-spacing: 2px;
        font-size: 14px;
    }
}
