.bg-logo {
    position: fixed;
    z-index: -1;
    width: 765px;
    height: 768px;
    top: 50%;
    left: 50%;
    margin-top: -382px;
    margin-left: -384px;
}

.bglogo__img {
    position: relative;
    z-index: 1;
}

.b-rainbow{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ed8080; /* Old browsers */
    background: -moz-linear-gradient(left,  #ed8080 0%, #2a77d6 16%, #5eb524 32%, #eacd25 48%, #ed8080 64%, #2a77d6 80%, #5eb524 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ed8080), color-stop(16%,#2a77d6), color-stop(32%,#5eb524), color-stop(48%,#eacd25), color-stop(64%,#ed8080), color-stop(80%,#2a77d6), color-stop(100%,#5eb524)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ed8080 0%,#2a77d6 16%,#5eb524 32%,#eacd25 48%,#ed8080 64%,#2a77d6 80%,#5eb524 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ed8080 0%,#2a77d6 16%,#5eb524 32%,#eacd25 48%,#ed8080 64%,#2a77d6 80%,#5eb524 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ed8080 0%,#2a77d6 16%,#5eb524 32%,#eacd25 48%,#ed8080 64%,#2a77d6 80%,#5eb524 100%); /* IE10+ */
    background: linear-gradient(to right,  #ed8080 0%,#2a77d6 16%,#5eb524 32%,#eacd25 48%,#ed8080 64%,#2a77d6 80%,#5eb524 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed8080', endColorstr='#5eb524',GradientType=1 ); /* IE6-9 */

    animation:shimmer infinite 3s linear;
    -o-animation:shimmer infinite 3s linear;
    -moz-animation:shimmer infinite 3s linear;
    -webkit-animation:shimmer infinite 3s linear;

    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
    background-color: #222;
    background-size: 300% 300%;
}

@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

.home-landing {
    background-color: @blue-darker;
    //background-image: url('/static/images/logo-bg.png');
    background-size: fit;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column; /* Safari */
    flex-direction:         column;
    justify-content:         space-between;
    align-items: center;
    height:100vh;
    width: 100%;
    z-index: 3;

    h2 {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .buttons {
        margin-top: 50px;
    }
}

.home-logo {
    display: table-row;
    vertical-align: top;
    z-index: 10;

    img {
        margin-top: 20px
    }
}

.home-claim {
    z-index: 10;
    display: table-row;

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.home-products {
    z-index: 3;

    .container-fluid {
        padding: 60px 0;
        background-color: @blue-darker;
    }

    .secondary {
        background-color: white;

        ul li {
            padding: 15px;
        }

        .circle {
            border-color: @blue;
            color: @blue;
        }
    }

    .circle {
        .sans();
        letter-spacing: 2px;
        cursor: pointer;
        position: relative;
        display: inline-block;
        width: 240px;
        height: 0;
        padding: 120px 0;
        border-radius: 50%;
        border: 2px solid @blue-light;
        font-size: 14px;

        .content {
          position: absolute;
          top: 0;
          left: 0;
          width: 240px;
          height: 240px;
          display: table;
          overflow: hidden;
          table-layout: fixed;

          p {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            text-overflow: ellipsis;
          }
        }

        &:hover {
            .content p span {
                color: @blue-light;
            }
        }
    }
}

.home-stocks {
    padding: 60px 0;
    background-color: @blue-darker;
}

.home-news {
    z-index: 3;
    background-color: @blue-darker;
    position: relative;

    padding: 30px 0;

    .news {
        &:first-child {
            border-right: 1px solid @blue;
        }

        &:hover {
            .go-to-link {
                background-color: @blue;
            }

            background-color: @blue-darker;
        }
    }
}
