@media (max-width: @screen-xs-max) {
  #menu ul li {
    margin-bottom: 20px;
  }

  #nav-expander {
    background-color: @blue-light;
  }

  .v-align {
    display: block;
  }

  .home-landing {
    height: auto;
    padding: 30px;
  }

  .circle {
    margin-bottom: 30px;
  }

  .news {
    padding: 20px 0;
  }

  .news-row .news { padding: 40px 10px }

  .section-header {
    background-image: url('/static/images/bg-cut-mob.png'), url('/static/images/gruppo.png');
    background-size: 100% auto, cover;
    background-position: bottom left, center;

    h1 {
      .text-right();
      max-width: 220px;
      padding-left: 0;
      margin: 240px 20px 0 0;
      font-size: 30px;
    }
  }

  .section-logo, .home-logo {
    img { max-width: 180px; }
  }

  .scrollable-content {
    section {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  #dot-nav-mob {
    opacity: 0;
    background-color: white;
    padding-top: 20px;
    .sans();
    bottom: 0;
    left: 0;
    margin-top: -50px;
    z-index: 0;
    width: 100%;
  }

  #dot-nav-mob ul {
    text-align: center;
    list-style: none;
    margin:0 auto;
    padding: 0;
  }

  #dot-nav-mob li {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    padding: 0 10px;
  }

  #dot-nav-mob li span {
    display: inline-block;
    position: relative;
    background-color: white;
    border:4px solid @blue-darker;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
    padding: 0;
    height: 20px;
    margin: 10px 0 0;
    width: 20px;
    vertical-align: center;
  }

  #dot-nav-mob li.active {
    a {
      color: @blue-light;
    }
  }

  #dot-nav-mob li.active span, #dot-nav-mob li:hover span {
    background-color: @blue-light;
    border-color: @blue-light;
    color: @blue-light;
  }

  #dot-nav-mob a {
    outline: 0;
    vertical-align:top;
    margin: 0;
    position: relative;
    top:-5px;
  }


}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {

}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {

}

@media (min-width: @screen-lg-min) {

}
