#nav-expander, #nav-luve {
    background-color: @blue;
    background-size: fit;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 20px;
    z-index: 9999;
    height: 60px;
    width: 60px;
    transition: .2s ease-in-out;

    &:hover, &.active {
        background-color: @blue-light;
    }
}

#nav-expander {
    background-image: url('/static/images/menu-button.png');
    left: 0;
}

#nav-luve {
    background-image: url('/static/images/symbol.png');
    left: 60px;
}

#nav-lang, #nav-lang-alt {
    background-color: @blue;
    position: fixed;
    top: 20px;
    z-index: 9999;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 16px;

    &:hover, &.active, &:active {
        background-color: @blue-light;
    }
}

#nav-lang {
    right: 0px;
}

#nav-lang-alt {
    right: 0px;
    top: 80px;
    display: none;
}

#menu {
  background-color: @blue-darker;
  background-image: url('/static/images/logo-bg.png');
  background-size: fit;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: auto;
  position: fixed;
  left: -100%;
  font-size: 15px;
  top: 0;
  width: 100%;
  z-index: 2000;
  padding-top: 40px;

  transition: left 0.3s ease-in-out 0s;
  -webkit-transition: left 0.3s ease-in-out 0s;
  -moz-transition: left 0.3s ease-in-out 0s;
  -o-transition: left 0.3s ease-in-out 0s;

  ul {
    font-size: 18px;

    li {
        margin-bottom: 40px;

        a.active {
          font-weight: bold;
          color: @blue-light;
          letter-spacing: 5px;
        }
    }
  }
}

.nav-expanded #menu {
  left: 0;
}

body.nav-expanded {
  margin-left: 0em;
  transition: left 0.4s ease-in-out 0s;
  -webkit-transition: left 0.4s ease-in-out 0s;
  -moz-transition: left 0.4s ease-in-out 0s;
  -o-transition: left 0.4s ease-in-out 0s;
  overflow: hidden;
}
