.news {
  padding: 30px 100px;

  h1 {
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: normal;
    letter-spacing: 1px;
  }

  .go-to-link {
    transition: .2s ease-in-out;
  }

  &:hover {
    background-color: #f7f7f7;

    .go-to-link {
      background-color: @blue-darker;
      color: white;
      padding: 5px 8px;
    }
  }
}

.news-date {
  font-family: @font-family-sans-serif;
  color: @blue-light;
  font-size: 14px;
  letter-spacing: 1px;
}

.news-title {
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

.paginator {
  margin: 80px 0;
  font-size: 24px;
  font-family: @font-family-sans-serif;

  .active {
    color: @blue-light;
  }
}
