.section-alt {
  background-color: @blue-darker;
}

.section-header {
  width: 100%;
  height: 480px;
  background-color: @blue-darker;
  background-image: url('/static/images/bg-cut.png'), url('/static/images/gruppo.png');
  background-size: auto 100%, cover;
  background-position: right, center;
  background-repeat: no-repeat;
  margin-bottom: 80px;

  h1 {
    width: 720px;
    float: right;
    font-size: 36px;
    margin-top: 120px;
    padding-left: 140px;
  }
}

.section-header-alt {
  width: 100%;
  margin-bottom: 80px;

  h1 {
    font-size: 36px;
    margin-top: 60px;

    small {
      .text-lowercase();
      .text-white();
      letter-spacing: 3px;
      font-size: 20px;
      font-weight: normal;
    }
  }
}

.section-logo {

    img {
        margin-top: 20px
    }
}

.circles-row {
  margin: 60px 0;

  .blue-circle {
    margin: 40px 0;
  }
}

.blue-circle {
  .sans();
  letter-spacing: 2px;
  background-color: @blue-darker;
  position: relative;
  display: inline-block;
  width: 240px;
  padding: 120px 0;
  height: 0;
  border-radius: 50%;
  font-size: 14px;

  .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 240px;
    display: table;
    overflow: hidden;
    table-layout: fixed;

    p {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      text-overflow: ellipsis;

      span {
        font-size: 36px;
      }
    }
  }

  &:hover {
    .content p span {
      color: @blue-light;
      transition: .3s linear;
    }
  }
}

.scrollable-content {
  section {
    padding-top: 250px;
    padding-bottom: 250px;

    &:first-child {
      padding-top: 0;
    }
  }
}

#dot-nav {
  display: none;
  .sans();
  right: 100px;
  width: 150px;
  bottom: 0;
  margin-top: -50px;
  z-index: 0;
}

#dot-nav ul {
  list-style: none;
  margin:0;
  padding: 0;
}

#dot-nav li {
  height: 70px;
  text-align: right;
  background-image: url('/static/images/vertical.png');
  background-repeat: repeat-y;
  background-position: right 33px center;
  font-size: 14px;
}

#dot-nav li span {
  display: inline-block;
  position: relative;
  background-color: white;
  border:4px solid @blue-darker;
  border-radius: 20px 20px 20px 20px;
  cursor: pointer;
  padding: 0;
  height: 20px;
  margin: -3px 25px 0 25px;
  width: 20px;
  vertical-align: center;
}

#dot-nav li.active {
  background-image: url('/static/images/vertical-hover.png');
  height: 400px;

  a {
    color: @blue-light;
  }
}

#dot-nav li.active span, #dot-nav li:hover span {
  background-color: @blue-light;
  border-color: @blue-light;
  color: @blue-light;
}

#dot-nav a {
  outline: 0;
  vertical-align:top;
  margin: 0px 0px 0px 25px;
  position: relative;
  top:-5px;
}

.flags {
  .sans();

  padding-left: 80px;
}

.business {
  padding: 0 0 15px 0;

  a .business-logo {
    margin-top: 20px;
  }

  h1 {
    font-size: 20px;
    font-weight: normal;
  }

  p {
    font-size: 14px;
  }
}

#map-commerciali {
  position: relative;
  margin-bottom: 100px;

  .map {
    width: 100%;
  }

  .dot {
    z-index: 3;
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
  }
}


.small-dots {
    .dot {
      width: 20px !important;
      height: 20px !important;
    }
  }
