{% extends "admin/base.html" %}
{% load admin_static %}
{% load compress %}

{% block branding %}
LU-VE Group
{% endblock %}

{# Additional <head> content here, some extra meta tags or favicon #}
{#{% block extrahead %}#}
{#{% endblock %}#}


{# Additional CSS includes #}
{% block extrastyle %}
{% compress css %}
<link rel="stylesheet" type="text/less" href="{% static 'less/redactor.less' %}" media="all">
{% endcompress %}

<style>
    .redactor-editor p {
        margin-bottom: 15px !important;
    }
</style>
{% endblock %}


{# Additional JS files in footer, right before </body> #}
{% block extrajs %}
<script src="{% static 'js/redactor.min.js' %}"></script>

<script type="text/javascript">
    $.Redactor.prototype.bufferbuttons = function() {
        return {
            init: function() {
                var undo = this.button.addAfter('html', 'undo', 'Annulla');
                var redo = this.button.addAfter('undo', 'redo', 'Ripristina');

                this.button.addCallback(undo, this.buffer.undo);
                this.button.addCallback(redo, this.buffer.redo);
            }
        };
    };

    $(function() {
        $('textarea').redactor({
            deniedTags: [],
            buttons: [
                'html', 'formatting', 'bold', 'italic', 'deleted',
                'unorderedlist', 'orderedlist', 'image', 'link', 'alignment', 'horizontalrule'
            ],
            imageUpload: '{% url "upload_pictures" %}',
            imageGetJson: '{% url "recent_pictures" %}',
            imageResizable: false,
            imageUploadCallback: function(image, json) {
                $(image).attr('class', 'img-responsive');
            },
            plugins: ['bufferbuttons'],
            cleanOnPaste: false,
            cleanSpaces: false,
            cleanStyleOnEnter: false,
            replaceDivs: false,
            removeEmpty: [],
            removeWithoutAttr: [],
            paragraphize: false,
            convertLinks: false,
            convertUrlLinks: true,
            convertVideoLinks: false,
            convertImageLinks: false,
            tabKey: false,
        });
    });
</script>
{% endblock %}


{# Footer links (left side) #}
{% block footer_links %}
{#  <a href="/docs/" class="icon"><i class="icon-question-sign"></i>Documentation</a>#}
{% endblock %}

{# Additional header content like notifications or language switcher #}
{#{% block header_content %}#}
{#    {{ block.super }}#}
{#    <div class="header-content">#}
{#        <!-- First icon column -->#}
{#        <div class="header-column icon">#}
{#            <i class="icon-home"></i><br>#}
{#            <i class="icon-cog"></i>#}
{#        </div>#}
{#        <div class="header-column" style="margin-right: 20px">#}
{#            <a href="/" class="grey">Front-end</a><br>#}
{#            <a href="" class="grey">One more link</a>#}
{#        </div>#}
{#        <!-- Second icon column -->#}
{#        <div class="header-column icon">#}
{#            <i class="icon-comment"></i>#}
{#        </div>#}
{#        <div class="header-column">#}
{#            <a href="" class="grey">5 new messages</a>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}

{# Footer branding name (center) #}
{% block footer_branding %}
LU-VE Group
{% endblock %}


{# Footer copyright (right side) #}
{% block copyright %}

{% endblock %}
