{% load i18n %}
{% load i18n_extras %}
{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		{% block title %}
		LU-VE
		{% endblock %}
	</title>

	{% compress css %}
	<link href="{% static 'css/animate.css' %}" type="text/css" rel="stylesheet">
	<link href="{% static 'less/app.less' %}" type="text/less" rel="stylesheet">
	{% endcompress %}

	{% compress js %}
	<script src="{% static 'bower/wowjs/dist/wow.js' %}"></script>
	<script>
		new WOW({
		  boxClass:     'wow',
		  animateClass: 'animated',
		  offset:       0,
		  mobile:       false,
		  live:         true
		}).init()
	</script>
	{% endcompress %}

	<!-- Fonts -->
	<script src="//use.typekit.net/oit1krb.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	{% include "_menu.html" %}

	<a id="nav-expander" href="javascript:void(0)" class="text-white"> </a>
	<a id="nav-luve" href="{% url 'home' %}" class="text-white hidden-xs"> </a>

		{% get_current_language as LANGUAGE_CODE %}
		{% if LANGUAGE_CODE == 'it' %}
			<a id="nav-lang" href="javascript:void(0)" class="text-white current sans"><span class="icon-earth"></span>&nbsp; IT</a>
			<a id="nav-lang-alt" class="text-white sans" href="{% translate_url en %}">EN</a>
		{% else %}
			<a id="nav-lang" href="javascript:void(0)" class="text-white current sans"><span class="icon-earth"></span>&nbsp; EN</a>
			<a id="nav-lang-alt" class="text-white sans" href="{% translate_url it %}">IT</a>
		{% endif %}
	</nav>

	{% block content %}
	{% endblock %}

	{% include "_footer.html" %}

	{% compress js %}
	<script src="{% static 'bower/jquery/dist/jquery.js' %}"></script>
	<script src="{% static 'bower/bootstrap/dist/js/bootstrap.js' %}"></script>
	<script src="{% static 'bower/slick-carousel/slick/slick.js' %}"></script>
	<script src="{% static 'coffee/app.coffee' %}" type="text/coffeescript"></script>
	{% endcompress %}

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-3116997-7', 'auto');
		ga('set', 'anonymizeIP', true);
		ga('send', 'pageview');
	</script>

	<script type="text/javascript">
		var _iub = _iub || [];
		_iub.csConfiguration = {
			cookiePolicyId: 340609,
			siteId: 437278,
			lang: "{{ LANGUAGE_CODE }}"
		};
		(function (w, d) {
			var loader = function () { var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/cookie_solution/iubenda_cs.js"; tag.parentNode.insertBefore(s, tag); };
			if (w.addEventListener) { w.addEventListener("load", loader, false); } else if (w.attachEvent) { w.attachEvent("onload", loader); } else { w.onload = loader; }
		})(window, document);
	</script>
</body>
</html>
