{% load i18n %}
{% load solo_tags menu_tags %}

{% get_solo 'core.SiteConfiguration' as site_config %}
{% menu_items as menu %}

<footer class="footer text-white">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 hidden-xs">
				<ul class="text-uppercase list-unstyled">

					{% for item in menu %}

						{% if item.static_page_link %}
							<li><a href="{{ item.static_page_link.get_absolute_url }}">{{ item.title }}</a></li>
						{% elif item.dynamic_route %}
							<li><a href="{% url item.dynamic_route %}">{{ item.title }}</a></li>
						{% endif %}

						{% if forloop.counter|divisibleby:'5' %}
								</ul>
							</div>
							<div class="col-sm-4 hidden-xs">
								<ul class="text-uppercase list-unstyled">
						{% endif %}

					{% endfor %}

				</ul>
			</div>
			<div class="col-sm-4">
				{{ site_config.footer_contacts|safe }}
				{% get_current_language as LANGUAGE_CODE %}
				<p>
					{% if LANGUAGE_CODE == 'it' %}
						<a href="//www.iubenda.com/privacy-policy/219500" class="iubenda-nostyle no-brand iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
					{% else %}
						<a href="//www.iubenda.com/privacy-policy/340609" class="iubenda-nostyle no-brand iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
					{% endif %}
				</p>
			</div>
		</div>
	</div>
</footer>
