<div class="gallery">
    {% for picture in gallery.pictures.all %}
        <div class="picture">
            <p><img src="{{ picture.file.url }}" alt="{{ picture.name }}" class="img-responsive"></p>
            <p class="name">{{ picture.name }}</p>
        </div>
    {% endfor %}
</div>
