{% load i18n menu_tags %}

{% menu_items as menu %}

<nav class="text-center text-uppercase text-white sans" id="menu">
	<ul class="list-unstyled">
		{% for item in menu %}
			{% if item.static_page_link %}
				<li><a href="{{ item.static_page_link.get_absolute_url }}">{{ item.title }}</a></li>
			{% elif item.dynamic_route %}
				<li><a href="{% url item.dynamic_route %}">{{ item.title }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
</nav>
