{% extends 'section_alt.html' %}

{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}

{% block inside_content %}

{% regroup companies|dictsort:"country.name" by country as countries %}

<div class="row">
  <div class="col-sm-3 flags text-white wow fadeInLeft">

  {% if hq %}

  <p class="text-uppercase"><a data-toggle="collapse" class="flag-collapse" href="#hq" aria-expanded="false" aria-controls="hq">Headquarters &nbsp; <span class="icon-plus-circle"></span></a></p>
  <section class="collapse" id="hq">
    <article class="business">
      <h1>LU-VE S.p.A.<br>
      Uboldo (VA) - Italia</h1>
      <p><a href="mailto:sales@luvegroup.com">sales@luvegroup.com</a></p>

  </section>

  {% endif %}

  {% for country in countries %}

    <p class="text-uppercase"><a data-toggle="collapse" class="flag-collapse" href="#{{ country.grouper.alpha3 }}" aria-expanded="false" aria-controls="{{ country.grouper.alpha3 }}"><img src="{{ country.grouper.flag }}" alt="{{ country.grouper.name }}"> &nbsp; {{ country.grouper.name }} &nbsp; <span class="icon-plus-circle"></span></a></p>
    <section class="collapse" id="{{ country.grouper.alpha3 }}">

    {% for company in country.list %}
      <article class="business">

        {% if company.link %}
          <a href="{{ company.link }}" target="_blank">
        {% endif %}

        {% if company.logo_alt %}
          {% thumbnail company.logo_alt "140x55" as im %}
            <img src="{{ im.url }}" alt="{{ company.name }}">
          {% endthumbnail %}
        {% elif company.logo %}
          {% thumbnail company.logo "140x55" as im %}
            <img src="{{ im.url }}" alt="{{ company.name }}">
          {% endthumbnail %}
        {% endif %}

        {% if company.link %}
          </a>
        {% endif %}

        <h1>{{ company.name }} <br> {{ company.city }} - {{ company.country.name }}</h1>
        {{ company.short_description|safe }}
        <p><a href="#" data-toggle="modal" data-target="#company-{{ company.id }}" class="go-to-link"><span class="icon-plus-circle"></span> {% trans 'Dettagli' %}</a></p>
      </article>
    {% endfor %}

    </section>

  {% endfor %}

  </div>

  {% block map %}
  {% endblock %}


</div>

{% for company in companies %}

<div class="modal fade" id="company-{{ company.id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">
            {% if company.link %}<a href="{{ company.link }}" target="_blank">{% endif %}
              {% if company.logo %}
                <img class="business-logo small" src="{{ company.logo.url }}" alt="{{ company.name }}"> &nbsp; &nbsp;
              {% endif %}
              {{ company.name }}
            {% if company.link %}</a>{% endif %}
          </h4>
      </div>
      <div class="modal-body">
        {{ company.contacts|safe }}
        {{ company.description|safe }}
      </div>
    </div>
  </div>
</div>

{% endfor %}

{% endblock %}
