<div class="list-group">
    {% for page in root.get_children %}
        <a href="{% url 'static_page' full_slug=page.full_slug %}" class="list-group-item {% if current == page %} active {% endif %}">
            <p class="list-group-item-heading">{{ page.title }}</p>
        </a>
        {% if current == page or current in page.get_children %}
            {% if page.get_children.count > 0 %}
                {% for subpage in page.get_children %}
                <a href="{% url 'static_page' full_slug=subpage.full_slug %}" class="list-group-item {% if current == subpage %} active {% endif %}">
                    <p class="list-group-item-heading " style="font-size: 90%"><span class="icon-arrow-right"></span> &nbsp; {{ subpage.title }}</p>
                </a>
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
