{% extends 'section.html' %}

{% load i18n %}
{% load staticfiles %}

{% block title %}
{{ attachment.page.get_root.title }}
{% endblock %}

{% block content %}

    <div class="section-alt">

        <header style="padding-bottom: 40px; margin-bottom: 50px">
            <div class="section-logo text-center">
                <a href="/"><img src="{% static 'images/logo.png' %}" alt="Luve"></a>
            </div>

            <h1 class="text-center text-uppercase text-white">{{ attachment.page.get_root.title }}</h1>

        </header>

    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">

                <h3>{{ attachment.name }}</h3>
                {{ attachment.description|safe }}
                <div class="panel panel-danger" style="margin-top: 30px">
                    <div class="panel-heading">
                      <h3 class="panel-title">{% trans 'Termini e condizioni' %}</h3>
                    </div>
                    <div class="panel-body">
                        {{ attachment.disclaimer|safe }}
                    </div>
                </div>

                <a href="{{ attachment.file.url }}" class="btn btn-primary">{% trans 'Ho letto e accetto le condizioni di cui sopra' %}</a>

                    <p class="go-to-link text-center" style="margin-top: 50px"><a href="{{ attachment.page.get_absolute_url }}">{% trans 'Torna a' %} {{ attachment.page.title }}</a></p>
            </div>
        </div>
    </div>

{% endblock %}
