@extends('section')

@section('title')
Certificazioni
@endsection

@section('inside-content')
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">

        <p class="text-center" style="margin-bottom: 40px">
            <img src="{{ asset('images/euroventcertified.png') }}" alt="Eurovent certified performance" class="img-responsive" style="margin: 0 auto">
        </p>

        <p>Il primo passo per dare garanzie agli utenti è senza dubbio la certificazione, che rappresenta una tutela per il cliente finale.</p>

        <p>Nel 2000, LU-VE è stata la prima azienda in Europa a ottenere la allora nuova certificazione <span class="em">“Certify All” della Eurovent</span>, per:</p>

        <ul class="uc-list list-unstyled">
            <li>Tutta la gamma dei condensatori (marzo 2000)</li>
            <li>Tutta la gamma dei dry cooler (agosto 2000)</li>
            <li>Tutta la gamma degli aeroevaporatori (ottobre 2000)</li>
        </ul>

        <p>L’importante certificazione copre tutti i prodotti che compongono la gamma e viene rilasciata solo se i risultati dei test sono conformi ai valori riportati nel catalogo. La certificazione prevede la <span class="em">verifica annuale</span> di alcuni modelli delle gamme, sempre scelti a discrezione di Eurovent.</p>

        <p>I controlli avvengono a campione su prodotti da testare, presso istituti internazionali altamente specializzati. Eventuali deviazioni devono essere corrette su tutta la gamma, pena la decadenza della certificazione stessa.</p>

        <p>Tale sistema di certificazione assicura al progettista, all’installatore e all’utente finale un’<span class="em">ulteriore garanzia</span> di aver scelto componenti idonei a impianti di refrigerazione e condizionamento qualificati, in grado di assicurare condizioni operative ottimali e costi minimi, per tutto il ciclo di vita dell’impianto stesso.</p>

        <p>La certificazione Eurovent garantisce che i prodotti messi in vendita sul mercato sono presentati in modo corretto. Inoltre Eurovent verifica tutte le informazioni riportate sui cataloghi quali:</p>

        <ul class="uc-list list-unstyled">
            <li>potenze</li>
            <li>portate d’aria</li>
            <li>consumi di energia</li>
            <li>livelli sonori</li>
            <li>caratteristiche costruttive</li>
        </ul>

        <p><span class="em">LU-VE è certificata secondo le norme ISO 9001.</span></p>
    </div>
</div>

<div class="circles-row row text-white text-uppercase text-center">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div class="blue-circle">
                        <div class="content">
                            <p><span>ISO 9001</span><br>1995</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="blue-circle">
                        <div class="content">
                            <p><span>ISO</span><br><span>9001:2000<br>Vision</span><br>2004</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="blue-circle">
                        <div class="content">
                            <p><span>UNI CEI EN</span><br><span>50001:2011</span><br>Sistemi di gestione<br>dell'energia<br>2011</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <p>I prodotti LU-VE sono conformi a numerose norme e direttive quali:</p>

        <ul class="uc-list list-unstyled">
            <li>direttive europee attualmente in vigore, che consentono la marchiatura ce</li>

            <li>direttiva europea macchine 2006/42/ec</li>

            <li>certificazione asme</li>

            <li>certificazione ul</li>

            <li>certificazione russa gost</li>

            <li>certificazione deutscher fachverband für luft- und wasserhygiene: sicurezza dei sistemi dry & spray e water spray</li>

            <li>certificazione del politecnico di milano del sistema dry & spray</li>
        </ul>

        <p class="text-center" style="margin: 150px 0 75px">
            <img src="{{ asset('images/certificazioni.png') }}" alt="Certificazioni" class="img-responsive">
        </p>
    </div>
</div>

@endsection
