{% extends 'section_alt.html' %}

{% load solo_tags %}

{% block title %}Headquarters{% endblock %}

{% block inside_content %}
{% get_solo 'core.SiteConfiguration' as site_config %}

<div class="row">
    <div class="col-sm-10 col-sm-offset-1 text-center">

		<style>.embed-container { position: relative; padding-bottom: 30%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d11165.522006309104!2d8.998554000000007!3d45.60299700000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sVia+Caduti+della+Liberazione%2C+53%2C+Varese!5e0!3m2!1sit!2sit!4v1431100641177' width='1200' height='400' frameborder='0' style='border:0'></iframe></div>

		<p>&nbsp;</p>

		<div class="text-white sans">{{ site_config.footer_contacts|safe }}</div>

    </div>

</div>

{% endblock %}
