{% extends "_base.html" %}

{% load i18n %}
{% load solo_tags %}
{% load staticfiles %}

{% block content %}

{% get_solo 'core.SiteConfiguration' as site_config %}

<div class="home-landing">
	<div class="bg-logo">

		<img class="bglogo__img" src="/static/images/luve-bg.png">

		<div class="b-rainbow"></div>
	</div>
	<div class="home-logo text-center">
		<img src="{% static 'images/logo.png' %}" alt="LU-VE">
	</div>
	<div class="home-claim text-center text-white wow fadeIn">
			{{ site_config.home_text|safe }}

			<p class="buttons"><a class="btn btn-primary text-uppercase" href="#home-products"><span class="icon-arrow-down"></span> {% trans 'Cosa facciamo' %}</a></p>
	</div>
	<div class="breaker" style="height: 120px; diplay: flex-row"></div>
</div>

<section class="home-products text-center" id="home-products">
	<div class="container-fluid text-white">
		<div class="row">
			<div class="col-sm-3">
				<div class="circle wow zoomIn" data-slide="1">
					<div class="content">
						<p><span class="custom-icon big">c</span><br>{% trans 'INDUSTRIAL,<br>ENERGY & POWER' %}</p>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="circle wow zoomIn" data-slide="2">
					<div class="content">
						<p><span class="custom-icon big">f</span><br>{% trans 'REFRIGERAZIONE<br>COMMERCIALE' %}</p>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="circle wow zoomIn" data-slide="3">
					<div class="content">
						<p><span class="custom-icon big">k</span><br>{% trans 'REFRIGERAZIONE<br>INDUSTRIALE' %}</p>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="circle wow zoomIn" data-slide="4">
					<div class="content">
						<p><span class="custom-icon big">e</span><br>{% trans 'CONDIZIONAMENTO<br>&amp; CLOSE CONTROL' %}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid secondary">
		<div class="row v-align">
			<div class="col-sm-3">
				<div class="circle" data-slide="0">
					<div class="content">
						<p><span class="custom-icon big">c</span><br>{% trans 'INDUSTRIAL,<br>ENERGY & POWER' %}</p>
					</div>
				</div>
			</div>
			<div class="col-sm-9">
				<ul class="list-unstyled list-inline">
					<li><a href="http://www.aia.se/" target="_blank"><img src="{% static 'images/logos/aia.png' %}" class="business-logo"></a></li>
					<li><a href="http://www.luve.it" target="_blank"><img src="{% static 'images/logos/exchangers.png' %}" class="business-logo"></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid secondary">
		<div class="row v-align">
			<div class="col-sm-3">
				<div class="circle" data-slide="0">
					<div class="content">
						<p><span class="custom-icon big">f</span><br>{% trans 'REFRIGERAZIONE<br>COMMERCIALE' %}</p>
					</div>
				</div>
			</div>
			<div class="col-sm-9">
				<ul class="list-unstyled list-inline">
					<li><a href="http://www.aia.se" target="_blank"><img src="{% static 'images/logos/aia.png' %}" class="business-logo"></a></li>
					<li><a href="http://www.htsystems.cz" target="_blank"><img src="{% static 'images/logos/hts.png' %}" class="business-logo"></a></li>
					<li><a href="http://www.luve.it" target="_blank"><img src="{% static 'images/logos/exchangers.png' %}" class="business-logo"></a></li>
				</ul>
				<ul class="list-unstyled list-inline">
					<li><a href="http://www.luve.it" target="_blank"><img src="{% static 'images/logos/luvechangsu.png' %}" class="business-logo"></a></li>
					<li><a href="http://www.sest.it/" target="_blank"><img src="{% static 'images/logos/sest.png' %}" class="business-logo"></a></li>
					<li><a href="http://www.tgd.it" target="_blank"><img src="{% static 'images/logos/tgd.png' %}" class="business-logo"></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid secondary">
		<div class="row v-align">
			<div class="col-sm-3">
				<div class="circle" data-slide="0">
					<div class="content">
						<p><span class="custom-icon big">k</span><br>{% trans 'REFRIGERAZIONE<br>INDUSTRIALE' %}</p>
					</div>
				</div>
			</div>
			<div class="col-sm-9">
				<ul class="list-unstyled list-inline">
					<li><a href="http://www.aia.se" target="_blank"><img src="{% static 'images/logos/aia.png' %}" class="business-logo"></a></li>
					<li><a href="http://www.luve.it" target="_blank"><img src="{% static 'images/logos/exchangers.png' %}" class="business-logo"></a></li>
					<li><a href="http://www.luve.it" target="_blank"><img src="{% static 'images/logos/luvechangsu.png' %}" class="business-logo"></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid secondary">
		<div class="row v-align">
			<div class="col-sm-3">
				<div class="circle" data-slide="0">
					<div class="content">
						<p><span class="custom-icon big">e</span><br>{% trans 'CONDIZIONAMENTO<br>&amp; CLOSE CONTROL' %}</p>
					</div>
				</div>
			</div>
			<div class="col-sm-9">
				<ul class="list-unstyled list-inline">
					<li><a href="http://www.aia.se" target="_blank"><img src="{% static 'images/logos/aia.png' %}" class="business-logo"></a></li>
					<li><a href="http://www.luve.it" target="_blank"><img src="{% static 'images/logos/exchangers.png' %}" class="business-logo"></a></li>
					<li><a href="http://www.htsystems.cz" target="_blank"><img src="{% static 'images/logos/hts.png' %}" class="business-logo"></a></li>
				</ul>
				<ul class="list-unstyled list-inline">
					<li><a href="http://www.sest.it" target="_blank"><img src="{% static 'images/logos/sest.png' %}" class="business-logo"></a></li>
					<li><a href="http://www.tecnairlv.it" target="_blank"><img src="{% static 'images/logos/tecnair.png' %}" class="business-logo"></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="home-news text-white">
	<div class="container-fluid">

		{% for new in news %}

		<article class="col-sm-6 news wow fadeInUp" style="z-index: 10">

		    <p class="news-date text-uppercase">{{ new.date }}</p>
		    <h1 class="text-uppercase">{{ new.title }}</h1>
		    <p>{{ new.abstract }}</p>
		    <a class="go-to-link" href="{{ new.get_absolute_url }}"><span class="icon-arrow-right"></span> &nbsp; {% trans 'Leggi tutto' %}</a>

		</article>

		{% endfor %}

	</div>

</section>

{% endblock %}
