{% extends '_base.html' %}

{% load staticfiles %}

{% block content %}

    <header class="section-header">
        <div class="section-logo text-center">
            <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="Luve"></a>
        </div>

        <h1 class="text-center text-uppercase text-white wow fadeInRight">{% block title %}{% endblock title %}</h1>
    </header>

    <div class="container-fluid">
		{% block inside_content %}
        {% endblock %}
    </div>

{% endblock %}
