{% extends '_base.html' %}

{% block content %}
    <div class="section-alt">

        <header class="section-header-alt">
            <div class="section-logo text-center">
                <a href="{% url 'home' %}"><img src="/static/images/logo.png" alt="Luve"></a>
            </div>

            <h1 class="text-center text-uppercase text-white">
                {% block title %}{% endblock %}
                {% block subtitle %}{% endblock %}

            </h1>

        </header>

        <div class="container-fluid">
            {% block inside_content %}{% endblock %}
        </div>

    </div>

{% endblock %}
