{% extends '_societa.html' %}

{% load i18n %}
{% load solo_tags %}
{% load staticfiles %}

{% block title %}
{% trans 'Società e uffici commerciali' %}
{% endblock %}

{% block subtitle %}
{% regroup companies by country as countries %}
<br> <small>{% blocktrans with companies=companies.count countries=countries|length %}{{ companies }} società commerciali in {{ countries }} paesi{% endblocktrans %}</small>
{% endblock %}

{% block map %}

{% get_solo 'core.SiteConfiguration' as site_config %}

<div class="col-sm-9 hidden-xs small-dots" id="map-commerciali">

    <img src="{{ site_config.map_commerciali.url }}" class="map wow fadeIn">

    {% for company in companies %}

    <a class="dot" role="button" style="top: {{ company.y }}%; left: {{ company.x }}%" data-toggle="popover" data-trigger="focus" tabindex="0" title="<img src='{{ company.country.flag }}' alt='{{ company.country.name }}'><br>&nbsp; &nbsp; {{ company.name }} &nbsp; &nbsp;" data-content="
      {{ company.short_description|safe }}
      <p class='text-center'><a href='#' data-toggle='modal' data-target='#company-{{ company.id }}' class='go-to-link'>{% trans 'Dettagli' %}</a></p>
      " data-placement="top" data-html="true"> </a>

    {% endfor %}
</div>

{% endblock %}
