{% extends '_societa.html' %}

{% load i18n %}
{% load solo_tags %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}
{% trans 'Società produttive' %}
{% endblock %}

{% block subtitle %}
{% regroup companies by country as countries %}
<br> <small>{% blocktrans with companies=companies.count countries=countries|length %}{{ companies }} unità produttive in {{ countries }} paesi{% endblocktrans %}</small>
{% endblock %}

{% block map %}

{% get_solo 'core.SiteConfiguration' as site_config %}

<div class="col-sm-9 hidden-xs" id="map-commerciali">

    <img src="{{ site_config.map_produttive.url }}" class="map wow fadeIn"> <!-- map@2x -->

    {% for country in countries %}

    <a class="dot" role="button" style="top: {{ country.list.0.y }}%; left: {{ country.list.0.x }}%" data-toggle="popover" data-trigger="focus" tabindex="0" title="{{ country.grouper.name }}" data-content="

      {% for company in country.list %}

      <p class='text-center'>
      <a href='#' data-toggle='modal' data-target='#company-{{ company.id }}'>
      {% if company.logo %}
        {% thumbnail company.logo "140x55" as im %}
          <img src='{{ im.url }}' alt='{{ company.name }}' style='max-width: 140px'>
        {% endthumbnail %}
      {% endif %}
      </a>
      </p>

      {% endfor %}

      " data-placement="top" data-html="true"> </a>

    {% endfor %}
</div>

{% endblock %}
