{% extends '_base.html' %}

{% load i18n %}

{% block content %}
    <div class="section-alt">

        <header style="padding-bottom: 40px; margin-bottom: 50px">
            <div class="section-logo text-center">
                <a href="/"><img src="/static/images/logo.png" alt="Luve"></a>
            </div>

            <h1 class="text-center text-uppercase text-white">{% block title %}{{ page.get_root.title }}{% endblock %}</h1>

        </header>

    </div>

    <div class="container-fluid">
        {% block inside_content %}
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2 col-md-3">
                {% include '_static_page_menu.html' with root=page.get_root current=page %}
            </div>

            <div class="col-lg-6 col-md-9">

                <h2 style="margin-top: 0; margin-bottom: 30px; font-size: 32px">{{ page.title }}</h2>

                {{ page.parsed_content|safe }}

                {% if page.attachments %}
                    <hr style="margin-top: 40px">
                    <h4 style="margin: 20px 0 25px 0">{% trans 'Documenti allegati' %}</h4>

                    {% for attachment in page.attachments %}
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <a href="{{ attachment.get_absolute_url }}"><h3 class="panel-title">{{ attachment.name }} <span class="pull-right"><span class="glyphicon glyphicon-download"></span></span></h3></a>

                      </div>
                      {% if attachment.description %}
                          <div class="panel-body">
                            {{ attachment.description|safe }}
                          </div>
                      {% endif %}
                    </div>
                    {% endfor %}
                {% endif %}

            </div>
        </div>
        {% endblock %}
    </div>

{% endblock %}
