{% extends '_base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block content %}

    <header class="section-header">
        <div class="section-logo text-center">
            <a href="/"><img src="{% static 'images/logo.png' %}" alt="Luve"></a>
        </div>

        <h1 class="text-center text-uppercase text-white wow fadeInRight">{% block title %}{{ page.title }}{% endblock title %}</h1>
    </header>

    <div class="container-fluid">
        {% block inside_content %}

            {{ page.parsed_content|safe }}

            {% if page.attachments %}
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                    <hr style="margin-top: 40px">
                    <h4 style="margin: 20px 0 25px 0">{% trans 'Documenti allegati' %}</h4>

                    {% for attachment in page.attachments %}
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <a href="{{ attachment.get_absolute_url }}"><h3 class="panel-title">{{ attachment.name }} <span class="pull-right"><span class="glyphicon glyphicon-download"></span></span></h3></a>

                      </div>
                      {% if attachment.description %}
                          <div class="panel-body">
                            {{ attachment.description|safe }}
                          </div>
                      {% endif %}
                    </div>
                    {% endfor %}
                    </div>
                </div>
            {% endif %}

            </div>
        </div>
        {% endblock %}
    </div>

{% endblock %}
